  <% if can?(:create, Clear) %>
  <div class="flex gap-2 items-center">
    <p> <%= "#{t('channels.show.clear_language')}: #{@channel.clear_language || "n/a"}"  %> </p>
    <%= link_to edit_channel_path(@channel), class: 'btn btn-circle btn-sm btn-outline' do %>
      <%= heroicon 'pencil' %>
    <% end %>
  </div>
<% end %>
