<div data-controller="channels--view-mode">
    <section class="mb-8">
        <input
            type="text"
            placeholder="Search" 
            class="simple_form__input w-full"
        />
        <div class="flex justify-between mt-2">
            <select class="select text-base font-normal">
                <option value="" disabled selected hidden>Sort by</option>
                <option>Name</option>
                <option>Video Count</option>
                <option>Recently Added</option>
            </select>
            <%= content_tag(:button,
                data: {
                    **stimuluses(
                        "channels__view_mode": {
                            actions: {
                                click: 'toggle'
                            }
                        }
                    )
                },
                class: "btn btn-ghost rounded-full w-12 h-12 no-animation hidden md:block flex items-center justify-center",
                type: "button") do %>
                <%= content_tag :i,
                    data: {
                        **stimulus_attrs("channels__view_mode", target: 'mode')
                    },
                    class: "text-lg fa-solid fa-grip" do %>
                <% end %>
            <% end %>
        </div>
    </section>

    <section>
        <%= content_tag :ul,
            class: "grid channel-list-grid",
            data: {
                **stimulus_attrs("channels__view_mode", target: 'list')
            } do %>
            <% for i in 1..30 do %>
            <li class="flex">
                <%= button_to "/channels/1", 
                    class: "
                        flex-row flex text-left p-4 bg-base-200 shadow-xl flex-grow
                        hover:outline
                        hover:outline-primary
                        hover:bg-base-content
                        hover:bg-opacity-10
                    ",
                    form: {
                        class: "flex flex-grow"
                    } do %>
                    <img
                        src="https://holodex.net/statics/channelImg/UCg02KL1G0nmH0QzFuLsVoRQ/100.png"
                        alt=""
                        class="channel-list__item-img"
                    >
                    <div class="channel-list__item-body">
                        <div>
                            <p class="text-white text-base p-0">Vtuber Tengoku</p>
                            <p class="text-white opacity-70 text-sm p-0">3263 Videos</p>
                        </div>
                        <div>
                            <a href="https://www.youtube.com/channel/UCg02KL1G0nmH0QzFuLsVoRQ">
                                <i class="fa-brands fa-youtube text-[#c4302b]"></i>
                            </a>
                        </div>
                    </div>
                <% end %>
            </li>
            <% end %>
        <% end %>
    </section>
</div>