<section class="-mt-28">
  <div class="w-full h-0 pb-[16%] relative">
    <div class="absolute inset-0">
      <img
        src="https://yt3.googleusercontent.com/gM7TtND-4uDSoWFGo0zjiE6VnMzYId5ZoqRaQUrMbAu7tRMqRLe9k47qPVN0KPy4Wz3fWpdz=w2276-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj"
        alt=""
        class="w-full h-full object-cover"
      >
    </div>
  </div>
  <div class="h-4"></div>
  <div class="flex flex-row items-center justify-between">
    <div class="flex flex-row items-center">
      <img
        src="https://holodex.net/statics/channelImg/UCg02KL1G0nmH0QzFuLsVoRQ/100.png"
        alt=""
        class="mr-4 rounded-full w-20 h-20"
      >
      <div>
        <h1 class="text-base text-white">VTuber Tengoku</h1>
        <p class="text-xs text-white opacity-70 mb-2">
          <a href="https://www.youtube.com/channel/UCg02KL1G0nmH0QzFuLsVoRQ">
            @vtengoku
          </a>
        </p>
        <p class="text-sm text-white opacity-70">3263 Videos</p>
      </div>
    </div>
    <div>
      <a href="https://www.youtube.com/channel/UCg02KL1G0nmH0QzFuLsVoRQ">
        <i class="fa-brands fa-youtube text-[#c4302b] text-xl"></i>
      </a>
    </div>
  </div>
</section>

<section class="pt-8">
  <div class="grid space-y-4 xl:space-y-0 xl:grid-cols-2 xl:gap-4 ">
  <% @clears.each do |clear| %>
    <%= render Clears::SummaryComponent.new(clear: clear) %>
  <% end %>
</div>
<div class="mt-4 w-full flex justify-end"><%== render Primer::PagyComponent.new(pagy: @pagy) %></div>

</section>