@tailwind base;
@tailwind components;
@tailwind utilities;

.simple_form__input {
  @apply input input-bordered block;
}

.field_with_errors > input {
  @apply border border-error focus:outline-error;
}

.simple_form__label {
  @apply label w-fit pb-0 only:py-2;
}

.simple_form__hint {
  @apply text-base-content-subdued px-1 text-sm pb-1;
}

.field_with_errors label {
  @apply pb-0;
}

.simple_form__btn {
  @apply btn btn-primary;
}

select.simple_form__input {
  @apply select select-bordered;
}
.choices__inner {
  @apply input input-bordered p-0 !important;
}
.choices.is-focused {
  @apply outline-base-content/20 outline outline-2 outline-offset-2 rounded !important;
}

/* search input for multi-select */
.choices__inner > .choices__input {
  @apply input p-0 mb-0 rounded-none focus:outline-none !important;
}

.field_with_errors .choices__inner {
  @apply border border-error rounded !important;
}

.field_with_errors .choices.is-focused {
  @apply outline-error !important;
}

.error {
  @apply text-error;
}

/* search input for single select */
.choices__list--dropdown.is-active > .choices__input {
  @apply input rounded-none bg-base-200 border-b border-base-content/20 !important;
}
.choices__placeholder {
  @apply opacity-100 !important;
}
.choices__list--single {
  @apply flex items-center pl-4 h-full !important;
}
.choices__item--choice {
  @apply bg-base-200 text-sm block w-full p-2.5 !important;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  @apply opacity-90 !important;
}

.choices__list--dropdown.is-active {
  /* outline: 2px solid hsla(var(--bc) / 0.2) !important; */
  @apply outline-none border border-opacity-90 mt-2 !important;
}

.choices__list--multiple .choices__item.is-highlighted {
  @apply bg-secondary-focus border-secondary-focus !important;
}

.choices__list--multiple .choices__item {
  @apply bg-secondary border border-secondary hover:bg-secondary-focus hover:border-secondary-focus !important;
}

.choices__list--multiple {
  @apply pl-4 !important;
}

.choices[data-type*="select-multiple"] .choices__button {
  @apply border-l-secondary-content !important;
}

.choices[data-type*="select-one"]::after {
  @apply border-t-base-content border-4 right-[18px] -mt-[1px] !important;
}

/* #new_clear .choices__inner .choices__item--selectable {
  display: none !important; */
/* } */
/* .choices__list--multiple {
  @apply hidden !important;
} */

.clear-summary__operator-list {
  @apply border-l border-t border-neutral-content/20;
}

.operator-cell--container {
  @apply xl:w-12 xl:h-12 sm:w-16 sm:h-16 w-12 h-12;
}

.operator-cell {
  @apply border-r border-b border-neutral-content/20 w-full h-full;
}

@media (max-width: 400px) {
  .operator-cell--container {
    /* when screen is small enough, assume that the cells will be <= 3rem wide, then do this to enforce aspect ratio 1:1 for the image */
    @apply h-auto w-auto;
    max-width: 3rem;
    height: 0;
    padding-bottom: 100%;
    position: relative;
  }
  .operator-cell {
    position: absolute;
    @apply inset-0;
  }
  .clear-summary {
    display: block;
  }
}

#clears__form select {
  @apply w-full input font-normal px-[15px];
}

.channel-list-grid {
  @apply grid-cols-1 gap-4;
  @apply md:grid-cols-2;
  @apply lg:grid-cols-3;
}

.channel-list-list {
  @apply grid-cols-1 gap-4;
}

.channel-list__item-img {
  @apply mr-4 rounded-full w-12 h-12;
}

.channel-list__item-body {
  @apply flex flex-grow items-center justify-between;
}

/* 
Only when the view mode is `grid` and the screen size is at least md (meaning there are at least 2 columns) do we show:
- square image
- youtube button right under channel name
 */
.channel-list-grid .channel-list__item-img {
  @apply md:w-24 md:h-24 md:rounded-none;
}
.channel-list-grid .channel-list__item-body {
  @apply md:block;
}

.iframe-responsive-container {
  @apply relative w-full h-0 pb-[56.25%] col-span-2;
}

.iframe-responsive {
  @apply top-0 left-0 w-full h-full absolute;
}

.tooltip:before {
  text-wrap: balance;
  @apply max-w-[12rem];
}
