<article class="card sm:w-fit">
  <div class="card-body shadow-xl bg-base-100 rounded p-3 sm:w-fit">

    <%= image_tag avatar, class: "w-24" %>
    <div class="z-10 absolute h-full flex justify-between w-full right-1">
      <div class="flex flex-col justify-between">

        <%= vite_image_tag elite_image_url, class: "w-8" %>
        <span class="text-xl text-white text-center">70</span>
      </div>
      <%= image_tag skill_image_url, class: "w-8 self-end" if used_operator.skill %>
    </div>
    <!--h3 class="line-clamp-1"><%= name + " the Radiant Knight" %></%h3-->
  </div>

</article>
