<div
  id="<%= dom_id(clear, :verification_details) %>"
  class="
    badge
    <%= clear.verified? ? 'badge-success' : 'badge-error' %>
    xs:badge-lg
    rounded-sm
    max-w-64
    line-clamp-1
    xs:line-clamp-none"
>
  <% if clear.verified? %>
    <%= t(:verified) %>
  <% else %>
    <%= t(:unverified) %>
  <% end %>
</div>