<%= content_tag :div, id: dom_id(clear, :verification) do %>
  <% if !clear.verification && can?(:create, Verification) %>
    <%= link_to new_clear_verification_path(clear), class: "btn btn-neutral btn-sm" do %>
      <%= heroicon 'check-circle', variant: :outline %>
      <span><%= t(:verify) %></span>
    <% end %>
  <% end %>
<% end %>
