<% if clear.verification %>
  <div
  id="<%= dom_id(clear, :verification_details) %>"
  tabindex="0"
  class="
    badge
    <%= clear.verification_color('badge') %>
    xs:badge-lg
    rounded-sm
    max-w-64
    line-clamp-1
    xs:line-clamp-none
    "
>
    <%= clear.verification_text %>
  </div>
<% end %>
