<%= content_tag :div, id: dom_id(clear, :verification) do %>

  <% if clear.verified? %>
    <% if can?(:destroy, :verification) %>
      <%= button_to(
        t(:unverify),
        clear_verification_path(clear),
        method: :delete,
        class: "btn btn-error btn-sm"
      ) %>
    <% end %>
  <% elsif can?(:create, :verification) %>
    <%= button_to clear_verification_path(clear), class: "btn btn-success btn-sm" do %>
      <i class="fa-regular fa-circle-check text-white"></i>
      <span class="text-white"><%= t(:verify) %></span>
    <% end %>
  <% else %>
  <% end %>
<% end %>
