<ul class="<%= @class %>">
  <li><%= link_to t("admin.videos_imports.new.title"), new_admin_videos_import_path %></li>
  <li><%= link_to t("admin.extract_clear_data_from_video_jobs.title"), admin_clear_jobs_path %></li>
  <li aria-hidden="true" class="border-t border-gray-700 mx-0"></li>
  <%= render Navbar::LanguageDropdownComponent.new(flatten: true) %>
</ul>
