  <%= simple_form_for UsedOperator.new, url: create ? clears_used_operator_path : new_clears_used_operator_path, method: create ? :post : :get,
  html: { class: 'operators__new_operator_form w-full', data: { turbo_stream: true } } do |f| %>
  <div class="flex w-full">
    <%= f.input :operator_id,
              as: :select,
              collection: selectable_operators,
              wrapper_html: {
                data: { **stimulus(:choices) },
                class: "w-96",
                 aria: { label: t("clears.select_operator_prompt") },
              },
              prompt: t("clears.select_operator_prompt"),
              include_hidden: false, label: false %>
    <div class="p-1"></div>
    <!--TODO: Disable the button when no opereator selected-->
    <%= content_tag :button, type: :submit, class: 'btn btn-circle btn-primary operators__new_operator_btn', disabled: disabled do %>
      <%= heroicon "plus", options: { class: "h-4" } %>
    <% end %>
  </div>
<% end %>
