<%= content_tag :div, class: "flex alert #{flash_key_to_alert_class(name)} w-full md:w-96", data: { controller: 'dismissable'} do %>
  <span class="text-center w-full whitespace-normal"><%= msg %></span>
  <%= content_tag :div,
            class: "cursor-pointer ml-auto hover:text-error ",
            data: {
              **stimulus_attrs(:dismissable, actions: { click: "dismiss" })
            } do %>
    <%= heroicon "x-mark", options: { class: "w-5 h-5 " } %>
  <% end %>
<% end %>
