<% left_items = [
  { name: 'Videos', path: videos_path, class: 'mr-2' },
  { name: 'Upload', path: new_video_path }
] %>
<header class="w-full flex bg-primary-900 text-white p-4 shadow-base">
  <%= link_to root_path do%>
    <image src="/logo.svg"></image>
  <% end %>
  <nav class="flex">
    <ul class="flex text-xl">
      <%= render partial: 'shared/header_item', collection: left_items %>
    </ul>
  </nav>
  <div class="grow"></div>
  <nav class="flex">
    <ul class="flex text-xl">
      <% if user_signed_in? %>
        <%= render partial: 'shared/header_item', object: { name: 'Sign out', path: destroy_user_session_path, method: :delete } %>
      <% else %>
        <%= render partial: 'shared/header_item', object: { name: 'Sign in', path: new_user_session_path } %>
      <% end %>
    </ul>
  </nav>
</header>
