<div class="md:flex flex-row gap-12">
  <!-- Consider using defer loading turbo frames for each component -->
  <div class="grid grid-cols-1 sm:grid-cols-2 grow gap-12 basis-0">
    <div class="sm:col-span-2">
      <%= render Home::HeroComponent.new(
        stageables: Event.latest,
        title: t('.latest_events')
      ) %>
    </div>
    <%= render Home::HeroComponent.new(
      stageables: Episode.latest,
      title: t('.latest_episode')
    ) %>
    <%= render Home::HeroComponent.new(
      stageables: Annihilation.latest,
      title: t('.latest_annihilation'),
      remote_image: true
    ) %>
  </div>
  <div>
    <% [
        [t('.trending_clears'), @trending_clears],
        [t('.latest_clears'), @newest_clears]
      ].each do |(title, clears)| %>
      <%= render Clears::AsideComponent.new(
        clears: clears,
        title: title
      ) %>
    <% end %>
  </div>
</div>
