<li class="navbar-item lg:border-b-4 lg:border-b-transparent <%= "border-l-4 border-l-primary lg:border-l-0 lg:border-b-4 lg:!border-b-primary rounded text-primary-content hover:text-primary-content" if highlighted? %>">
  <% if link? %>
    <%= link %>
  <% else %>
    <%= link_to title, path %>
  <% end %>
</li>
