<div data-dropdown-toggle="dropdown">
  <%= target %>
</div>
<!-- Dropdown menu -->
<div
  id="dropdown"
  class="
    z-10
    hidden
    bg-white
    divide-y
    divide-gray-100
    rounded-lg
    shadow
    w-44
    dark:bg-gray-700
  "
>
  <ul class="py-2" aria-labelledby="dropdownDefaultButton">
    <%= menu_items %>
  </ul>
</div>
